@import 'bootstrap';

#progress-bar {
    background-color: #ccc;
    border-radius: 13px;
    padding: 3px;
  }
  
  #progress-bar>div {
    background-color: green;
    width: 0;
    height: 20px;
    border-radius: 10px;
  }

  i{
    font-size: 4rem;
    text-align: center;
    padding-top: 50px;
  }
  

